<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianglin.act.common.dal.mappers.ActInviteDetailMapper" >
  <resultMap id="BaseResultMap" type="com.xianglin.act.common.dal.model.ActInviteDetail" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PARTY_ID" property="partyId" jdbcType="BIGINT" />
    <result column="REC_PARTY_ID" property="recPartyId" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARTY_ID, REC_PARTY_ID, STATUS, IS_DELETED, CREATE_TIME, UPDATE_TIME, COMMENTS
  </sql>
  
</mapper>
