<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianglin.act.common.dal.mappers.ActPlantLvTranMapper">
  <resultMap id="BaseResultMap" type="com.xianglin.act.common.dal.model.ActPlantLvTran">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PARTY_ID" jdbcType="BIGINT" property="partyId" />
    <result column="LV_ID" jdbcType="BIGINT" property="lvId" />
    <result column="LV" jdbcType="INTEGER" property="lv" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PRIZE_CODE" jdbcType="VARCHAR" property="prizeCode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_DELETED" jdbcType="VARCHAR" property="isDeleted" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARTY_ID, LV_ID, LV, TYPE, PRIZE_CODE, NAME, USER_NAME, MOBILE, ADDRESS, STATUS,
    REMARK, IS_DELETED, CREATE_TIME, UPDATE_TIME, COMMENTS
  </sql>

</mapper>
