<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianglin.act.common.dal.mappers.ActPlantTipMapper">
  <resultMap id="BaseResultMap" type="com.xianglin.act.common.dal.model.ActPlantTip">

    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PARTY_ID" jdbcType="BIGINT" property="partyId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TIP" jdbcType="VARCHAR" property="tip" />
    <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    <result column="IS_DELETED" jdbcType="VARCHAR" property="isDeleted" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARTY_ID, TYPE, TIP, IS_DELETED, CREATE_TIME, UPDATE_TIME, COMMENTS
  </sql>

  <!--更新用户弹窗信息-->
  <update id="updateByPartyId" parameterType="java.lang.Long">
    update act_plant_tip set STATUS = 'S' WHERE PARTY_ID = #{partyId}
  </update>

</mapper>